<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-input [(ngModel)]="code" type="text" placeholder="Enter code here"></ion-input>
      <button ion-button block (click)="process(code);">Process</button>

      <img *ngIf="displayQrCode()" [src]="generated" class="qrcode"/>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer *ngIf="displayQrCode()">
  <ion-toolbar>
    <p>Share your favorites</p>
    <ion-buttons end>
      <button ion-button icon-end color="royal" (click)="share(generated)">
        Share
        <ion-icon name="share"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
